html, body{
  font-family: Manrope, sans-serif;
}
.wrapper{
  min-height: 100%;
  height: auto;
  overflow: hidden;
}
.container{
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;

}
.button{
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.75;
  padding: 16px 40px;
  background: #FF6433;
  border-radius: 12px;
  color: #FFFFFF;
}
.hr-line{
  height: 42px;
  border: 1px solid #939191;
  opacity: 0.36;
}
.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
.title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: -0.03em;
}
/*_____________________________________________________________________________*/

.header {
  display: flex;
  flex-direction: column;
}
.header__top-inner {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  margin-bottom: 80px;
}
.header__nav {
  margin-left: auto;  
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 32px;
}
.header__nav-link {
  font-weight: 600;
  line-height: 1.75;
  color: #1E1B1B;
  transition: all .3s;
}
.header__nav-link:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FF6433;
}
.header__contact {
  display: flex;
  align-items: center;
}
.header__contact-icon {
  margin-left: 32px;
  margin-right: 14px;
}
.header__contact-text {
  font-weight: 500;
  line-height: 1.5;
}
.header__contact-phone-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.75;
  transition: all .3s;
}
.header__contact-phone-link:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FF6433;
}
.header__body {
  flex-grow: 1;
  margin-bottom: 135px;
}

.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E1B1B;
}
.header__content-text {
  margin-right: 51px;
}
.header__title{
  font-weight: 800;
  font-size: 64px;
  line-height: 1.31;
  letter-spacing: -0.03em;
  max-width: 624px;
  margin-bottom: 32px;
}
.header__content-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.header__content-btn {
  margin-right: 33px;
}
.header__play {
  display: flex;
  align-items: center;
  min-height: 48px;
  min-width: 140px;
  padding: 12px 16px;
  font-weight: 500;
}
.header__play svg {
  margin-right: 8px;
}
.header__content-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 370px;
}
.header__content-open-text {
  display: flex;
  flex-direction: column;
}
.top-text {
  font-weight: 500;
  line-height: 1.5;
  color: #939191;
}
.bottom-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.75; 
}
.header__content-image {
  display: flex;
  position: relative;
}
.header__content-image-item {
  display: flex;
  align-items: center;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  /* border: 12px solid rgba(225, 225, 225, 0.43); */
  /* box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12); */
  box-shadow: 0px 0px 0 12px rgba(206, 206, 206, 0.35);
  border-radius: 59px;
}
.header__content-service-img{
  height: 70px;
  width: 70px;
  display: flex;
  margin: 15px;
}
.header__content-service-text{
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
.service{
  position: absolute;
  width: 282px;
  height: 102px;
  left: -30px;
  top: 74px;
}
.rating{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 326px;
  height: 102px;
  left: 299px;
  top: 453px;
}
.rating__text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.rating__text-top {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
.rating__text-bottom {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #939191;
  opacity: 0.7;
}
/*______________________________________________________________________________________*/

.offer {
  display: flex;
  text-align: center;
  background: #F2F2F2;
  padding: 128px 0px;
  margin-bottom: 134px;
}
.offer__inner-heading {
  margin-bottom: 50px;
}
.heading__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
.heading__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: -0.03em;
}
.offer__list {
  display: grid;
  grid-template: auto auto / repeat(4, auto);
  gap: 8px;
  margin-bottom: 32px;
}
.offer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 316px;
  min-height: 232px;
  background: #FFFFFF;
}
.offer__item-link{
  color: #1E1B1B;
}
.offer__item svg {
  margin-bottom: 16px;
}
.offer__item-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
/* .offer__item:hover {
  background: #FF6433;
  transition: .3s;
}
.offer__item:hover path {
  fill:#FFFFFF;
  transition: .3s;
}
.offer__item:hover .offer__item-text {
  color: #FFFFFF;
  transition: .3s;
} */

.offer__item--active {
  background: #FF6433;
  transition: .3s;
}
.offer__item--active path {
  fill:#FFFFFF;
  transition: .3s;
}
.offer__item--active .offer__item-text {
  color: #FFFFFF;
  transition: .3s;
}
.offer__more-link{
  display: flex;
  justify-content: flex-end;
}
.offer__more-text {
  margin-right: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.offer__more-link:hover {
  transition: .3s;
  color: #FF6433;

}
.offer__more-link:hover path {
  fill: #FF6433;
  transition: .3s;
}

/* _____________________________________________________________________________ */

.processsection__inner{
  display: flex;
  justify-content: space-between;
  max-width: 1087px;
  max-height: 527px;
  margin-bottom: 134px;
}
.processsection__left {
  display: flex;
  flex-wrap: wrap;
  max-width: 524px;
  max-height: 396px;
}
.processsection__title {
  text-align: left;
  margin-bottom: 16px;
}
.processsection__subtitle {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0em;
  opacity: 0.6;
  max-width: 436px;
  margin-bottom: 32px;
}
.processsection__right {
  max-width: 432px;
  min-height: 527px;
  display: flex;
  align-items: stretch;
}
.processsection__step-list {
  display: flex;
  flex-wrap: wrap;
}
.processsection__step-item {
  display: flex;
  overflow: hidden;
}
.step-item__img {
  margin-bottom: 18px;
}
.processsection__step-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 20px 0px;
}
.processsection__hr-line {
  border: 1px dashed #FF6433;
  height: 100%;
  width: 2px;
  margin: 0px 0px;
}
.step-item__text {
  padding: 10px 0px 0px 24px;
}
.step-item__text-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
.step-item__text-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.75;
  opacity: 0.6;
}
/* ______________________________________________________________________________ */
.cta{
  background: url("../img/cta/Group 9131.jpg") center center / cover no-repeat;  
}

.cta__inner{
  display: flex;
  height: 502px;
}
.cta__img {
  max-width: 1920px;
  display: flex;
  justify-content: center;
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FF6433;
  width: 729px;
  max-height: 100%;  
}
.cta__content-text {
  margin: 128px 80px 48px 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.cta__content-btn {
  margin: 0 0 0 61px;
  background: #1E1B1B;
}
/* _____________________________________________________________ */

.experience__list {
  min-height: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.experience__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.experience__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: -0.03em;
  color: #661CE7;
}
.experience__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.51;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  opacity: 0.7;
}
/* _______________________________________________________________ */

.brands{
  background: #E2E6E9;
}
.brands__inner {
  min-height: 611px;
  padding-top: 128px;
}
.brands__title {
  margin-bottom: 31px;
}

.brands__list {
  display: grid;
  grid-template: auto auto / repeat(5, auto);
  gap: 8px;
  margin-bottom: 32px;
}
.brands__item {
  min-width: 127.88px;
  margin-bottom: 38.64px;
}
.brands__item:hover {
  background: #FF6433;
  transition: .3s;
}
.brands__item:hover path {
  fill:#FFFFFF;
  transition: .3s;
}